appdirs==1.4.4
asgiref==3.5.0
attrs==21.4.0
cattrs==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.3
django-crispy-forms==1.14.0
django-heroku==0.3.1
filelock==3.6.0
fonttools==4.32.0
gunicorn==20.1.0
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
Panda3D==1.10.11
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==1.4.2
Pillow==9.0.1
pipenv==2022.4.8
platformdirs==2.5.1
psycopg2==2.9.3
pygame==2.1.2
pyparsing==3.0.8
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-cache==0.9.3
screeninfo==0.8
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
url-normalize==1.4.3
urllib3==1.26.9
ursina==4.1.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
wget==3.2
whitenoise==6.0.0